/* ABOUT SECTION */
*{
    background: #0f172a;
}
.about-section {
    
    /*padding: 80px 10%;*/
    color: #ffffff;
    text-align: center;
    
}

.about-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #60a5fa;
}

.about-section p {
    max-width: 800px;
    margin: 0 auto 20px auto;
    line-height: 1.7;
    font-size: 16px;
    color: #cbd5e1;
}

.about-features {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
    flex-wrap: wrap;
    
}

.feature-box {
    background:#0f172a;
    padding: 25px;
    border-radius: 12px;
    width: 280px;
    transition: 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.feature-box:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 20px rgba(96, 165, 250, 0.5);
}

.feature-box h3 {
    color: #60a5fa;
    margin-bottom: 10px;
    background-color: #0f172a;
}

.feature-box p {
    font-size: 14px;
    color: #cbd5e1;
}