* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #121121;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 350px;
    margin: 33%;
}

h1 {
    margin-bottom: 25px;
    font-size: 32px;
}

form label {
    display: block;
    margin-bottom: 10px;
    color: #777;
}

.input-box {
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #ccc;
    font-size: 14px;
    transition: 0.3s;
}

.input-box input:focus {
    border-color: #66bfa6;
    outline: none;
}

button {
    background: linear-gradient(135deg, #6bc3a5, #4caf91);
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    opacity: 0.9;
}

